.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}

/* для экранов 768px */
@media (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 329px;
  }
}

/* для экранов 320px */
@media (max-width: 720px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}