.places__link {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  transition: opacity .5s ease;
  cursor: pointer;
}

.places__link:hover {
  opacity: .8;
}