.lead__image {
  display: block;
  width: 100%;
  object-fit: contain;
  margin: 64px auto 0;
}

/* для экранов 1024px */
@media (max-width: 1279px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

/* для экранов 320px */
@media (max-width: 720px) {
  .lead__image {
    margin: 40px auto 0;
  }
}