.lead__caption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  justify-self: start;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 0;
  color: #fff;
}

/* для экранов 768px */
@media (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/* для экранов 320px */
@media (max-width: 720px) {
  .lead__caption {
    margin-left: 16px;
  }
}