.places__website {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
}

/* для экранов 320px */
@media (max-width: 720px) {
  .places__website {
    margin: 0 16px;
  }
}